{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin panel</h1>
                            <span class="subheading">Manage Your Chatbot here</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                  <hr>
                
                    <h1>Edit Posts</h1>
                    <br>
                        <form method="POST">
                            <div class="control-group">
                              <div class="form-group floating-label-form-group controls">
                                <label>Data For the Bot</label>
                                <textarea rows="10"  class="form-control" placeholder="Text" name = "content" id="content" required data-validation-required-message="Please enter a message.">{{params["dataset"]}}</textarea>
                                <p class="help-block text-danger"></p>
                              </div>
                            <button type="submit" class="btn btn-primary" style="margin-bottom: 50px;">Save</button>
                                </div>
                        </form>
              
 

                        </tbody>
                      </table>      
            

{% endblock %}